


{{> head}}




    <!--AQUI VA EL INDEX-->
        {{> navbar}}
        <br>
    <div class="container">
    <div class="row">
        <div class="col-8">
            <h1>
                digimon 2
            </h1>
            <p>
                digimon azul pertene Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam voluptate temporibus. Dolorem doloremque veritatis aperiam non atque eaque esse quidem cum ipsam! Sunt optio cumque iste itaque temporibus ex.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/v-mon.jpg" class="img-thumbnail">
        </div>
    </div>
    </div>

{{> footer}}