


{{> head}}




    <!--AQUI VA EL INDEX-->
        {{> navbar}}

    

    <div class="jumbotron">
        <h1 class="display-4">CAVI {{capitalizar nombre}}</h1>
        <p class="lead">caña Producciones Agricolas</p>
        <hr class="my-4">
        <p>Caña, gremios</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Visitanos</a>
    </div>

{{> footer}}